* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Average', sans-serif;
}

h1 {
  font-size: 68px;
  text-align: center;
}

h2 {
  color: #fff;
  font-size: 52px;
  margin: 0px 0px 20px 0px;
}

.channel-list {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.channel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  width: 100%;
}

.channel .channel-img {
  margin: 10px;
  width: calc(30% - 20px);
}

.channel img {
  height: 100%;
  object-fit: contain;
}

.channel-info {
  margin: 40px;
  width: calc(70% - 80px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.channel-audio {
  width: 100%;
}

@media (max-width: 600px) {
  .channel .channel-img {
    width: calc(50% - 20px);
  }

  .channel-info {
    margin-left: 10px;
    width: calc(100% - 80px);
  }
}
